<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/activity_log') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
  <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ec2f1463c199e91"></script>

  Share this:
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <div class="addthis_inline_share_toolbox"></div>

</article>

<hr>
<h3> Other Posts </h3>
<div id="archive">
  <ul class="post-list">
      <% site.posts.sort('date', 'desc').slice(0, 4).each(function(post) { %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
        </br>
    <% }); %>
  </ul>
</div>

<%- partial('_partial/comments') %>
